* {
    font-family: "Inter", "Roboto", sans-serif;
    color: #010203;
}

.recipe-wrapper {
    width: 100%;
    display: flex;
}

ul {
    list-style: none;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin: 0 auto;
}

li {
    display: inline-block;
    flex-direction: column;
    width: 200px;
    margin: 30px;
}

.round-border {
    border: 0.5px solid #010203;
    border-radius: 0 0 10px 10px;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    align-items: center;
    background-color: #fff;
    color: blue;
    border: 0.5px solid #010203;
    border-radius: 10px;
    filter: drop-shadow(4px 4px 4px rgba(1, 2, 3, 0.25));
    overflow: hidden;
    text-decoration: none;
}

a > span {
    padding: 10px 0 10px 0;
}