* {
    font-family: "Inter", "Roboto", sans-serif;
    color: #010203;
}

ul {
    list-style: square;
    padding: 20px;
    background-color: #DEDEDE;
    border-radius: 10px;
}

li {
    margin-left: 20px;
}

a {
    color: blue;
}